<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'layouts/header' %></br>
    <section class="round">
      <%= yield %>
    </section>
    <%= render 'layouts/footer' %><br />
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
